@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  @apply font-sans;
}

.formContainer {
  @apply mx-auto px-4 pt-10 pb-[194px] max-w-[328px] sm:max-w-[664px];
}

.form {
  @apply text-black bg-white;

  .error {
    @apply mt-1 text-xs text-lightGreyActive; 
  }

  .inputItem_group {
    @apply grid grid-cols-1 sm:grid-cols-2 sm:grid-rows-2 gap-y-6 sm:gap-4 mb-[25px] sm:mb-[19.5px];
  }

  //Все inputs + textarea
  .firstName,
  .lastName,
  .company,
  .email,
  .details {
    @apply w-full px-4 pt-2 pb-[9px] border-[1px] border-lightGrey 
           focus:border-[1px] focus:border-lightGreyActive outline-none;
  }

  //Все заголовки полужирным
  .firstNameLabel,
  .lastNameLabel,
  .companyLabel,
  .emailLabel,
  .regionLabel,
  .detailsLabel,
  .goalLabel {
    @apply font-sans font-bold;
  }

  .regionLabel {
    @apply mr-1
  }

  //Только inputs
  .firstName,
  .lastName,
  .company,
  .email {
    @apply rounded-[40px] max-h-[40px];
  }

  //Checkbox 
  .checkboxViaPhone {
    @apply w-[16px] h-[16px] mr-2;
  }

  //Label for checkbox (it's inside the label)
  .viaPhoneLabel {
    @apply items-center flex items-center;
  }


.regionTitle_wrapper {
  @apply mb-4 sm:mb-2 flex items-center;
}
  
  //Group for region radiobuttons
  .regionGroup {
    @apply mt-6 sm:mt-[19.5px];
  }


  //Radio buttons groups
  .radioBtn_wrapper {
    @apply grid grid-cols-2 grid-rows-2 sm:grid-cols-4 sm:grid-rows-1 gap-[16px];
  }

  .radioBtn_wrapper label {
    @apply py-2 px-3 rounded-[8px] shadow-5xl flex items-center
  }
  .radioBtn_wrapper label input{
    @apply mr-2
  }

  //Checkbox button's style
  input[type='checkbox']{
    @apply appearance-none w-4 h-4 rounded-[4px] border-lightGrey border-[1px] 
  }

  input[type='checkbox']:hover{
    @apply border-purple;
  }

  input[type='checkbox']:checked{
    @apply appearance-none relative w-4 h-4 rounded-[4px] bg-purple border-[1px] border-purple
           after:w-1 after:h-2 after:absolute after:rotate-45 after:content-[''] after:border-white 
           after:border-r-[2px] after:border-b-[2px] after:border-t-0 after:border-l-0
           after:left-[50%] after:-translate-x-[50%] after:top-[50%] after:-translate-y-[50%];
  }

  //Radio button's style
  input[type='radio']{
    @apply w-4 h-4 rounded-full border-lightGrey border-[1px] appearance-none 
  }

  input[type='radio']:hover{
    @apply border-purple;
  }

  input[type='radio']:checked {
    @apply w-4 h-4 rounded-full border-purple border-[1px] appearance-none relative
           after:content-[''] after:w-3 after:h-3 after:bg-purple after:rounded-full 
           after:inline after:absolute after:left-[50%] after:top-[50%] after:-translate-x-[50%] after:-translate-y-[50%]
  }

  .goalLabel {
    @apply mb-4 sm:mb-2 mt-6 sm:mt-14 
  }

  //Textarea
  .details {
    @apply h-20 py-4 px-4 rounded-[20px] text-lightGreyActive resize-none;
  }

  .submitBtn_wrapper {
    @apply w-full flex justify-center mt-12
  }
  .submitBtn {
    @apply w-[193px] h-10 py-2 px-[50px] rounded-[40px] font-bold text-white
           bg-gradient-to-r from-pink to-orange
            
  }

}